<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <div id = "bubble">
    <h1>Airlebml</h1>
    <p>This web app is designed to pass input to my blog.</p>
    <a href = "home.html"><p>Home</p></a>
    <a href = "about.html"><p>About</p></a>
    <a href = "help.html"><p>Help</p></a>
    <a href = "signup.html"><p>Signup</p></a>
    </div>
</html>