<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <div id = "bubble">
    <h1>Help?</h1>
    <p>You'll find no help here. Good luck.</p>
    <a href = "home.html"><p>Home</p></a>
    <a href = "about.html"><p>About</p></a>
    <a href = "help.html"><p>Help</p></a>
    <a href = "signup.html"><p>Signup</p></a>

    </div>
</html>