<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <div id = "bubble">
    <h1>Welcome to Airlebml</h1>
    <p>Home. Hello, World!</p>
    <a href = "home.html"><p>Home</p></a>
    <a href = "about.html"><p>About</p></a>
    <a href = "help.html"><p>Help</p></a>
    <a href = "signup.html"><p>Signup</p></a>

    </div>
</html>